.item-container {
  display: flex;
  flex-direction: column;
  padding: 13px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-shrink: 1;
}
.content-container {
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}
.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.date {
  color: #b5b7c4;
  font-weight: bold;
  font-size: 14px;
}
@media (min-width: 768px) {
  .item-container {
    width: 300px;
    margin-right: 20px;
  }
}
